<div class="application">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>

  <div class="skills-section">
    <div class="selectors">
      <div class="selector">
        <h2>Front-End</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum ipsa, numquam dolor nisi iusto.
        </p>
      </div>
      <div class="selector">
        <h2>Mobile</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum ipsa, numquam dolor nisi iusto.
        </p>
      </div>
      <div class="selector">
        <h2>Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptatum ipsa, numquam dolor nisi iusto.
        </p>
      </div>
    </div>
    <div class="info">
      <h2>huehue</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo molestiae
        aliquid quam exercitationem! Sequi suscipit aliquid doloremque aperiam qui
        laborum! Maiores atque, veniam error adipisci vitae nobis corporis
        aliquid, minus placeat minima quod, odit omnis! Amet quam voluptate,
        perspiciatis officiis nihil reprehenderit, dolorum nam alias repellendus
        debitis, sed soluta quaerat.
      </p>
    </div>
  </div>
</div>
